@charset "UTF-8";
@font-face {
  font-family: 'Ki';
  src: url("../../static/fonts/kar.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'K';
  src: url("../../static/fonts/kar-reg.otf");
  font-weight: normal;
  font-style: normal;
}

html {
  text-align: center;
  overflow: hidden;
}

canvas {
  border: 1px solid black;
  margin: 10px;
}

.content-module {
  position: absolute;
  text-align: center;
  left:0;
  right:0;
}

img {
  max-width: 60%;
}

.active {
  visibility: visible;
  animation-name: slideIn;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  /* top:10%; */
  animation-fill-mode: forwards;
}

.inactive {
  animation-name: slideOut;
  animation-timing-function: ease-in-out;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  top: -100%;
}

#title {
  font-size: 80px;
  font-family: 'K';
}

@keyframes slideIn {
  from {
    top: 100%;
    opacity: 0%;
  }
  to {
    top: 10%;
    opacity: 100%;
  }
}

@keyframes slideOut {
  from {
    top: 10%;
    opacity: 100%;
  }
  to {
    top: -100%;
    opacity: 0%;
  }
}

.captcha-prompt {
  text-align: center;
  font-family: 'Ki', serif;
  font-size: 60px;
  margin: 0;
}

.disabled {
  visibility: hidden;
}

.body-text {
  font-size: 40px;
  margin-left: 20%;
  text-align: center;
  font-family: 'K', serif;
  width: 60%;
}

.canvas-container {
  text-align: center;
  position: relative;
}

.canvas-container button {
  margin-left: 30%;
}

#white-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}
